h1 {
  color : #4169e1;
}

h2,h3 {
  color: #00bfff;
}
body {
      background-color: #F0FFFF;
     }


hr {
      border-style: none;
      border-top-style: dotted;
      border-color: grey;
      border-width: 5px;
      width: 5%;
    }

/* ---------------CLass Styling ----------*/

.date:hover {
  background-color: #add8e6;
}
